@import "../utils/breakpoints";
@import "../fonts.scss";

.number {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.container {
  display: flex;
}

.textCon {
  display: flex;
  flex-direction: row;
}

.image {
  position: relative;
}

@include large-screen {
  .number {
    font-size: 28px;
    line-height: 34px;
    padding-right: 28px;
    letter-spacing: 4.725px;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 165.5px;
    margin-right: 137px;
  }

  .textCon {
    text-align: left;
    height: 23.85rem;
    margin-top: 154px;
  }
  .role {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .heading {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    max-width: 615px;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
  }

  .paragraph {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    line-height: 32px;
    color: #d0d6f9;
    max-width: 444px;
  }

  .circles {
    margin-bottom: 94px;
    height: 0.9375rem;
    display: relative;
    margin-right: auto;
    .circleBtn {
      margin-right: 24px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.17;
      &:hover {
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
    .active {
      margin-right: 24px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #ffffff;
    }
  }

  .imgCon {
  }
  .image {
    margin-top: 94px;
    width: 615px;
    height: 607px;
  }
}

@include medium-screen {
  .number {
    font-size: 20px;
    line-height: 24px;
    padding-right: 16px;
    letter-spacing: 3.375px;
  }

  .container {
    flex-direction: column;
    margin-left: 155.85px;
    margin-right: 155.78px;
    margin-top: 60px;
  }

  .textCon {
    text-align: center;
    margin-top: 60px;
  }
  .role {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .heading {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .paragraph {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #d0d6f9;
  }

  .circles {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    .circleBtn {
      margin-right: 16px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.17;
      &:hover {
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
    .active {
      margin-right: 16px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
    }
  }

  .imgCon {
    margin: 40px auto 0 auto;
  }
  .image {
    width: 450px;
    height: 572px;
  }
}

@include small-screen {
  .number {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-right: 18px;
  }

  .container {
    flex-direction: column-reverse;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 32px;
  }

  .textCon {
    text-align: center;
    margin-top: 32px;
  }
  .role {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .heading {
    font-family: "Bellefair";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .paragraph {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #d0d6f9;
  }

  .circles {
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    .circleBtn {
      margin-right: 16px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      mix-blend-mode: normal;
      opacity: 0.17;
      &:hover {
        background: #ffffff;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
    .active {
      margin-right: 16px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
    }
  }

  .imgCon {
    margin: 32px auto 0 auto;
  }
  .image {
    width: 350px;
    height: 277px;
  }
}

/* <Animation> */
.imageAnimEnter {
  transition: transform 0.6s ease-out, opacity 0.6s ease-in;
  transform: translateY(4.75rem) scale(0.8);
  opacity: 0;
}
.imageAnimEnterActive {
  transform: none !important;
  opacity: 1;
}

.textAnimEnter {
  transition: transform 0.6s ease-out, opacity 0.6s ease-in;
  transform: scale(0.8);
  transform-origin: center center;
  opacity: -1;
}
.textAnimEnterActive {
  transform: none;
  opacity: 1;
}
/* </Animation> */
