$sm-break-point: 576px;
$md-break-point: 768px;
$lg-break-point: 992px;
$xl-break-point: 1200px;
$xxl-break-point: 1400px;

@mixin xxl-screen {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin xl-screen {
  @media (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: 767px) {
    @content;
  }
}
