@import "../fonts.scss";
%header5 {
  font-family: "Barlow Condensed", serif;
  font-style: normal;
  font-weight: 400;
  color: #d0d6f9;
}

%header1 {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

%paragraph {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 400;
  color: #d0d6f9;
}
